body{
    text-align: center;

}


form{
    padding: 10px;
    height: 60vh;
    width: 55vh;
    box-sizing: border-box;
    border: 2px solid rgb(11, 131, 187);
    border-radius: 20px;
    color: blue;
    display: inline-block;
}
.data{
margin-top:5px;
padding: 10px;
color: rgb(11, 131, 187);
border-radius: 20px;
border: 2px solid rgb(11, 131, 187);
}

.submit{
    margin-top:5px;
    color: black;
    background-color: rgba(46, 236, 46, 0.788);
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgba(46, 236, 46, 0.788);
    font-weight: bold;
}